<!DOCTYPE html>
<!-- Thymeleafを使用するための記述 -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="~{comlayout/base :: meta}"></div>
  <div th:replace="~{comlayout/base :: styles}"></div>

  <link rel="stylesheet" th:href="@{/css/top.css}">
  <title>トップページ</title>
</head>

<body>
  <div th:replace="~{comlayout/base :: header}"></div>

  <main>
    <!-- メインビジュアル -->
    <section class="hero">
      <img th:src="@{/images/top1.png}" alt="スイーツメイン画像">
    </section>

    <!-- 検索 -->
    <section class="search">
      <form th:action="@{/products}" method="get">
        <input type="text" name="keyword" placeholder="商品を検索">
      </form>
    </section>

    <!-- カテゴリー -->
    <section class="category">
      <ul>
        <li>
          <a th:href="@{/}" class="category-btn" 
             th:classappend="${catId == null || catId == 0} ? 'active' : ''">すべて</a>
        </li>

        <li th:each="cat : ${categoryList}">
          <a th:href="@{/(catId=${cat.catId})}" 
             class="category-btn" 
             th:classappend="${catId == cat.catId} ? 'active' : ''"
             th:text="${cat.catName}">カテゴリー名</a>
        </li>
      </ul>
    </section>

    <!-- 商品一覧 -->
    <section class="products">
      <h2>商品一覧</h2>

      <div id="productContainer">
        <div class="product-list" 
             th:fragment="product-list-fragment">
             <div class="product-card" th:each="product : ${products}">
                <a th:href="@{/products/{id}(id=${product?.productId})}">
                    <img th:src="@{${product.imagePath != null ? product.imagePath : '/images/noimage.png'}}" alt="">
                    <p class="name" th:text="${product.productName}"></p>
                    <p class="price">¥<span th:text="${product.price}"></span></p>
                </a>
             </div>
        </div>
    </section>
  </main>
  <div th:replace="~{comlayout/base :: footer}"></div>
</body>

</html>